pipeline/sequentialactivitiesexecutionrunactivity.json
{
	"name": "sequentialactivitiesexecutionrunactivity",
	"properties": {
		"activities": [
			{
				"name": "one",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": "Jitendra"
				}
			},
			{
				"name": "two",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "one",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@int('10')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "three",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "two",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": "threee"
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "three",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error",
					"value": {
						"value": "@concat(activity('one').Error?.message, '|', activity('two')?.Error?.message, '|', activity('three')?.Error?.message)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var1": {
				"type": "String"
			},
			"error": {
				"type": "String"
			}
		},
		"annotations": []
	}
}